.gradle
ide-bin
.settings
.classpath
.project
build/*
/src/generated
test-output
/test-bin
/bin
/LOG_ROOT_IS_UNDEFINED

/.factorypath
/.tomcatplugin
/src/main/webapp/.#webclasspath
/.apt_generated

MANIFEST.MF
